<section class="firstSeccion">
    <div class="contenedores_grandes">
        <h1>Contactanos</h1>
        <p>¿Tienes dudas, sugerencias o simplemente quieres saludarnos? Estamos aquí para escucharte. 
            Completa el formulario o escríbenos directamente y te responderemos lo antes posible. 
            Tu opinión es muy valiosa para seguir mejorando.</p>
            
            <div class="contenedor_inputs" id="crear_producto">
                <form >
                  <div>
                    <label for="">Tu nombre</label>
                    <input type="text" formControlName="name">
                  </div>
                  <div>
                    <label for="">Correo electronico</label>
                    <input type="text" formControlName="name">
                  </div>
                  <div>
                    <label for="">Asunto</label>
                    <input type="text" formControlName="name">
                  </div>
                  <div >
                    <label for="">Mensaje</label>
                    <textarea name="" id=""></textarea>
                  </div>

                  <button >Enviar correo</button>
                </form>
              </div>
    </div>
    <div class="contenedores_grandes">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63461.46771515272!2d-75.6178384563695!3d6.218587426062926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e44291107bbba7d%3A0x993be95792f3397a!2sPolit%C3%A9cnico%20Grancolombiano%20-%20Campus%20Medell%C3%ADn!5e0!3m2!1ses!2sco!4v1744099411589!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>