.firstSeccion, .secondSeccion, .thirtSeccion{
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 30px 60px;
}
.firstSeccion{
    margin: 100px 0 0 0 ;
    flex-direction: row;
}
.secondSeccion, .thirtSeccion{
    flex-direction: column;
}
.secondSeccion, .thirtSeccion{
    flex-direction: column;
}
.contenedores_grandes iframe{
    width: clamp(300px, 50vw, 650px);
    object-fit: cover;
}
.contenedores_grandes h2{
    margin: 20px 0;
}
.contenedor_inputs form{
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 30px;
    margin: 20px 0;
}
.contenedor_inputs form div{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

input, textarea{
    outline: none;
    width: 100%;
    border: none;
    width: 100%;
    border-bottom: 2px solid var(--b);
}
textarea{
    height: 150px;
}
.corte{
    display: flex;
    width: 100%;
    gap: 30px;
    flex-direction: column;
}


@media (max-width: 800px) {
    .firstSeccion, .secondSeccion, .thirtSeccion{
        flex-flow: wrap row;
    }
    iframe{
        width: 100%
    }
 }