<ngx-ui-loader bgsColor="red" [bgsOpacity]="0.5" bgsPosition="bottom-right" [bgsSize]="60" bgsType="ball-spin-clockwise"
  blur="9" delay="0" fastFadeOut="true" fgsColor="var(--c1)" fgsPosition="center-center" [fgsSize]="40"
  fgsType="double-bounce" [gap]="24" logoPosition="center-center" [logoSize]="120" logoUrl="" masterLoaderId="master"
  overlayBorderRadius="0" overlayColor="rgba(255,255,255,0.8)" pbColor="red" pbDirection="ltr" [pbThickness]="3"
  [hasProgressBar]="false" text="Cargando..." textColor="#000000" textPosition="center-center" maxTime="-1"
  minTime="300"></ngx-ui-loader>
<div class="modal" id="modalProductos">
  <div class="boxModal" id="boxProductos">
    <div class="closeOption">
      <p (click)="closeModal('modalProductos', 'boxProductos')">X</p>  
    </div>
    <h2>Gestión de productos</h2>
    <div class="navProducts">
      <button class="green" (click)="hide('crear_producto', 'eliminar_producto')">Crear productos</button>
      <button class="red" (click)="hide('eliminar_producto', 'crear_producto')">Eliminar productos</button>
    </div>
    <div class="contenedor_inputs" id="crear_producto">
      <form [formGroup]="formAddProduct" (submit)="postProduct()">
        <div>
          <label for="">Nombre del producto</label>
          <input type="text" formControlName="name">
        </div>
        <div>
          <label for="">Categoría del producto</label>
          <ng-select 
          [items]="categorias"
          bindLabel="nombre"
          bindValue="id"
          formControlName="category"
          placeholder="Selecciona una categoría">
        </ng-select>
        </div>
        <div >
          <label for="">Descripción del producto</label>
          <input  formControlName="description" type="text">
        </div>
        <div>
          <label for="" >Imagen del producto</label>
          <input type="file" id="productImg">
        </div>
        <button class="green" [disabled]="!formAddProduct.valid">Crear</button>
      </form>
    </div>
    <div class="contenedor_inputs" id="eliminar_producto">
      <form [formGroup]="formDeleteProduct" (submit)="deleteProduct()">
        <div>
          <label for="">Elegir un producto para eliminar</label>
          <ng-select 
          [items]="products"
          bindLabel="name"
          bindValue="_id"
          formControlName="id"
          placeholder="Selecciona un producto para eliminar">
          </ng-select>
        </div>
        <button class="red" [disabled]="!formDeleteProduct.valid">Eliminar</button>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <nav *ngIf="showLayout">
    <div >
      <img class="home_click" src="Logotipo.png" (click)="clickRoute(0)"  alt="">
    </div>
    <div class="secondNav navA">
      <div>
        <a (click)="clickRoute(0)">Inicio</a>
        <a (click)="clickRoute(3)">¿Quiénes somos?</a>
        <a (click)="clickRoute(2)">Contacto</a>
        <p *ngIf="user._id != ''">¡Hola {{user.name}} {{user.lastName}}!</p>
      </div>
      <div>
        <button *ngIf="user._id == ''" (click)="clickRoute(1)">Iniciar sesión o registrarse</button>
        <button class="red" *ngIf="user._id != ''" (click)="closeSession()">Cerrar sesión</button>
        <button class="green" *ngIf="user._id != '' && user.role == 'admin'" (click)="modalOpen('modalProductos','boxProductos')">Productos</button>
      </div>
    </div>
    <div class="icon_menu" (click)="toggleSidebar()">
      <img src="icon_menu.png" alt="">
    </div>
  </nav>
  <div class="sideBar" id="sideBar">
    <p *ngIf="user._id != ''">¡Hola {{user.name}} {{user.lastName}}!</p>
    <a (click)="clickRoute(0)">Inicio</a>
    <a (click)="clickRoute(3)">¿Quiénes somos?</a>
    <a (click)="clickRoute(2)">Contacto</a>
    <button *ngIf="user._id == ''" (click)="clickRoute(1)">Iniciar sesión</button>
    <button class="red" *ngIf="user._id != ''" (click)="closeSession()">Cerrar sesión</button>
    <button class="green" *ngIf="user._id != '' && user.role == 'admin'" (click)="modalOpen('modalProductos','boxProductos')">Productos</button>
  </div>
  <main class="content">
    <router-outlet></router-outlet>
  </main>
  <footer *ngIf="showLayout">
    <div class="seccion_footer">
      <div >
        <img class="home_click" src="Logotipo.png" (click)="clickRoute(0)"  alt="">
      </div>
      <div class="corte">
        <h3>Contacto</h3>
        <p>Carrera 17 #93 - 09 Piso 3 - Bogota D.C - Colombia</p>
        <p>Bogota +57 (601) 343 0000</p>
        <p>servicioalcliente&#64;dtodos.com</p>
      </div>
      <div class="corte">
        <h3>Explora</h3>
          <a (click)="clickRoute(3)">¿Quienes comos?</a>
          <a (click)="clickRoute(3)">Politicas y reglamentos</a>
          <a (click)="clickRoute(3)">Terminos y condiciones</a>
      </div>
      <div class="corte">
        <h3>Redes sociales</h3>
        <p>No te olvides de seguirnos</p>
        <div>
          <img src="inst.png" alt="" class="icons_red_social">
          <img src="face.png" alt="" class="icons_red_social">
          <img src="tele.png" alt="" class="icons_red_social">
        </div>
      </div>
    </div>
    <div class="seccion_footer2">
      <h5>Copyright 2025 DTODOS | Todos los derechos reservados</h5>
    </div>
  </footer>
</div>